/*GENERAL STYLES*/
*{
	box-sizing: border-box;
	font-size: 16px;
}

/* google fonts */
.dynapuff-header { /* use this for headers -  add new class if changing weight/style */
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.truculenta-body { /* use this for body -  add new class if changing weight/style */
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Colour Scheme Darkest to Lightest */ 
:root {
    /* created variables of colours - use var(variablename) isntead of hexcode in classes - e.g. color: var(--clr-slate-gray) */
    --clr-charcoal: #243c4cff;
    --clr-charcoal-2: #2c444cff;
    --clr-air-force-blue: #5289adff;
    --clr-slate-gray: #698696ff;
    --clr-ash-gray: #acbcbfff;
    --clr-mint-cream: #f4fcfbff;
}


/*
style notes for team developers
all class names for your pages should be(to avoid overwritting others css code): pageNo_whateverElse  eg. p1_mainTitle
select element in css using id or classes (to avoid overwritting others css code)

use rem unit for any text size(good for responsiveness)



*/






/*HOME PAGE*/
.p0_title{
	margin-top:5rem;
	margin-bottom: 5rem;
	font-size: 7rem;
	text-align: center;
}

.p0_allArticles{
	width: 100%;
	display:flex;
	justify-content: center;
}
.p0_cardContainer{
	width:100%;
}
/*RITIKA*/




/*ERNESTO*/
#EH{
	background-color: F4FCFB;
}
h1{
	font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
p{
	font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
	
@media only screen and (max-width: 600px) {
	#p1{
	border-bottom: black solid 4px;
	}
	#p2{
	position: absolute;
	}
	#vita{
	width: 100%;
	height: auto;
	}
}
@media only screen and (max-width: 900px) {
	#p1{
	border-bottom: black solid 4px;
	
	}
	#p2{
	position: absolute;
	}
	#vita{
	width: 100%;
	height: auto;
	}
}
@media screen and (min-width: 1100px)  {
	#vita{
	width: 100%;
	height: auto;
	}
	#p1{
	border-right: black solid 4px;
	margin-right: 700px;
	}
	#p2{
	position: absolute;
	margin-left: 660px;
	top: 1021px;
	}
}



/*SHOURYA*/




/*SZYMON*/
/* class names: p4 (both) p4-1 (page 1) or p4-2 (page 2) */